<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombres:</strong>
    <%= estudiante.Nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= estudiante.Apellidos %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estudiante.Carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estudiante.Carnet %>
  </p>

  <p>
    <strong>Fechanac:</strong>
    <%= estudiante.fechanac %>
  </p>

  <p>
    <strong>Cel:</strong>
    <%= estudiante.cel %>
  </p>

</div>
